html {
 font-family: "open-sans",sans-serif;
  color: #444444;
}

body {
  background: #FFFFFF ;
}

/* Fonts */
h1 {
  font-size: 1.6em ;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 40px;
}

h2 {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 30px;
}


h3 {
  font-weight: 200;
  margin-bottom: 5px;
  font-size: 1.4em;
  letter-spacing: 1px;

}

header p {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.8em;
}

header {
  padding: 0% 20% 0 20%;
}


.header {
  text-align: justify;
}

header:after {
  display: inline-block;
  width: 100%;
}

.hr {
  height: 1.2px;
  background-color: #e67e22;
  opacity: 0.5;
}

.subtitle {
  text-transform: uppercase;
  color: #444444;
  font-size: 0.9em;
  letter-spacing: 3px;
}

p {
  font-size: 1.03em;
  font-weight: 300;
  font-family: "calluna",serif;
}

ul {
  list-style-type: none;
}

.col-md-6 {
  display: inline;
}

.navbar-nav{
        float:none;
        margin: 0 auto;
        display: inline;
}

.Main-container {
  padding: 0% 20% 0% 20%;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2em;
  }

  .Main-container {
    padding: 0% 0% 0% 0%;
  }
}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
