html {
 font-family: "open-sans",sans-serif;
 color: #444444;
}

body {
  background: #FFFFFF ;
}

/* Fonts */
h1 {
  font-size: 1.8em ;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 60px;
}

h2 {
  font-weight: 200;
  font-size: 1.2em;
  margin-bottom: 30px;
}


h3 {
  font-weight: 800;
  margin-bottom: 40px;
  font-size: 1.7em;
  letter-spacing: 0.8px;
  font-family: "acta-display", sans-serif;
  position: relative;
  text-transform: uppercase;
}

h4 {
  font-size: 4.0em;
  font-weight: 100;
  display:inline;
  opacity: 0.1;

}

img {
  position: relative;
  width: 100%;
  padding-top: 30px;

}

p {
  font-size: 0.84em;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 40px;
}

.subtitle {
   position: absolute;
   top: -15px;
   left: -20%;
   bottom: 0;
   right: 0;
   z-index: -1;
   /*overflow: hidden;*/
}

a {
  color: #444444;
  opacity: 1;
  text-decoration: none;
  font-weight: 600;
    -webkit-transition: color 0.5s
}


#background {
  position: relative;
  opacity: 0.5;
}

header p {
  text-transform: uppercase;
  font-size: 0.8em;
}


.navbar {
  padding-top: 20px;
  font-size: 1.1em;
}

.navbar a {
  text-decoration: none;
}

.header {
  text-align: justify;
}

header:after {
  display: inline-block;
  width: 100%;
}

.hr {
  height: 1.0px;
  background-color: #e67e22;
  opacity: 0.5;
}

.subtitle {
  text-transform: uppercase;
  color: #444444;
  font-size: 0.9em;
  letter-spacing: 3px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0px 10px;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;

}

a:hover{
  color: #e67e22;
   -webkit-transition: color 0.2s;
}

.navbar-nav{
        float:none;
        margin: 0 auto;
        display: inline;
}

.Main-container {
  padding: 0% 20% 0% 20%;
  text-align: left;
}


@media (max-width: 480px) {
  h1 {
    font-size: 1.2em;
  }

  .Main-container {
    padding: 0% 0% 0% 0%;
  }
}
/*@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
*/
