body {
  font-family: sans-serif; 
  background: #f9f8f1;
  font-size: 16px;
  text-transform: lowercase;
  color: black;
}


h1 {
  font-weight: 400;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
  text-transform: lowercase;

}

p {
}

ul {
  list-style-type: square;
  position: relative;
  left: -22px;
}

a {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: lightgrey;
  transition: 0.1s ease-in-out;
}


.container {
  margin: 30px;
}

.content {
  position: relative;
  top: 200px;
  margin: 20px;
}


.point {
  width: 10px; 
  height: 10px;
  background-color: black; 
}

.begin {
  border-radius: 10px;
}

.wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.line {
  content: '';
  flex: 1;  
  height: 1px;
  background-color: #000;
  display: block;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  animation: slideIn 2s ease-in-out infinite;
  animation-delay: 2s;
  z-index: 10;
}

.line2 {
  content: '';
  flex: 1;  
  height: 1px;
  background-color: #CCC;
  display: block;
  transform: scaleX(2);
  transform-origin: right;
  z-index: 1;
}

@keyframes slideIn {
  0%   {transform:scaleX(0);}
  50%  {transform:scaleX(0.5);}
  80%  {transform:scaleX(0); transform-origin: right;}
  100% {}  
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container { margin: 30px 30px 30px 30px;
  }
  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container { margin: 50px 80px 30px 80px;
  }
    
  
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container { margin: {50px 100px 30px 100px;
  }  
  
} 



footer {
  opacity: 20%;
}
